<!DOCTYPE html>
<html lang="en">
@Html.Partial("Layout Files/_Head")
<body>
    @Html.Partial("Layout Files/_Header")
    <section>
        @RenderBody()
    </section>




    @Html.Partial("Helper Files/_Subscribe")
    @Html.Partial("Layout Files/_Footer")


    @Html.Partial("Helper Files/_JavaScript")

</body>
</html>



