<!DOCTYPE html>

<html>
@Html.Partial("Layout Files/_Head")
<body>
    @Html.Partial("Layout Files/_Header2")

    @RenderBody()

    @Html.Partial("_Articles")
    @Html.Partial("Layout Files/_Footer")
    @Html.Partial("Helper Files/_JavaScript")
</body>
</html>
