<!DOCTYPE html>
<html lang="en">
@Html.Partial("_Head")
<body>
    @Html.Partial("_Header")
    <section>
        @RenderBody()
    </section>




    @Html.Partial("_Subscribe")
    @Html.Partial("_Footer")


    @Html.Partial("_JavaScript")

</body>
</html>



